body {
  margin: 0;
  margin-top: 50px;
  background-color: #121212;
  font-family: sans-serif;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}

#profile-img {
  border-radius: 50%;
  height: 100px;
}

#projects-and-skills {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

#project-tiles {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}
#project-tiles li {
  flex: 0 0 33.333333%;
}
#project-tiles img {
  width: calc(100% - 20px);
  padding: 10px;
}

footer {
  text-align: center;
  padding: 50px;
}
