body {
  margin: 0;
  background-color: white;
  font-family: sans-serif;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  align-items: center;
}

h1 {
  font-size: 30px;
}

nav {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  border: 5px groove royalblue;
}

a {
  color: royalblue;
}

#profile-img {
  border-radius: 50%;
  height: 100px;
  width: 80px;
}

#projects-and-skills {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

#latest-project-label {
  position: relative;
  top: -100px;
  left: 15px;
  background-color: royalblue;
  width: fit-content;
  padding: 20px;
}
#latest-project-tile {
  width: 50%;
  margin-left: 15%;
}

#project-tiles {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}
#project-tiles li {
  flex-basis: 100%;
}
#project-tiles li img {
  width: calc(100% - 20px);
  padding: 10px;
}
#project-tiles li h3 {
  position: relative;
  top: -100px;
  left: 15px;
  background-color: royalblue;
  width: fit-content;
  padding: 20px;
}

/* tablet */
@media screen and (min-width: 768px) {
  #project-tiles li {
    flex-basis: 50%;
  }
}

/* desktop */
@media screen and (min-width: 992px) {
  #project-tiles li {
    flex-basis: 33.3333%;
  }
}

footer {
  text-align: center;
  padding: 50px;
  background-color: black;
  color: white;
}
